.signup-wrapper{
    box-shadow: var(--shadow);
    width: 70%;
    max-width: 450px;
    height: auto;
    border: 1rem;
    border-radius: 20px;
    padding: 1rem 1.5rem;
}
.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}
.p-login{
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
}